@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sofia&display=swap');

/* CSS reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100vh;
    position: relative;
}

body{
    background-color:pink;
    font-family: 'Bree Serif', serif;
    color:#8FBDD3
}

#my-anya{
    width: 50%;
    border-radius: 50%;
}
#content{
    text-align:center;
    height: 100%;
}
#my-name {
    font-family: 'Bree Serif', serif;
    color:#3A3845
}
#left-side{
    position:absolute;
    top: 16px;
    left: 16px;
}
#left-side > a {
    margin-right: 16px;
}

#right-side {
    position: absolute;
    top: 16px;
    right: 16px;
}

a {
    color:#A97155;
    text-decoration: none;
    border-bottom:1px dotted #BE8C63;
}
.nav-link {
    margin-left: 20px;
}

footer{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);

}
footer a:first-child {
margin-right: 16px;
}

#content div{
    width: 60%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}