@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sofia&display=swap');
body{
    background-color:pink;
    font-family: 'Bree Serif', serif;
    color:#8FBDD3
}
#my-anya{
    width: 500px;
    border-radius: 70%;
}
#content{
    text-align:center;
}
#my-name {
    font-family: 'Bree Serif', serif;
    color:#3A3845
}
#left-side{
    width: 59%;
    display:inline-block;
}
#right-side {
    width: 40%;
    display:inline-block;
    text-align:right;
}
a{
    color:#A97155;
    text-decoration: none;
    border-bottom:1px dotted #BE8C63;
}
header{
    margin-top: 16px;
}
.nav-link {
    margin-left: 8px;
}