@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sofia&display=swap');
body{
    background-color:pink;
    font-family: 'Bree Serif', serif;
    color:#8FBDD3
}
#my-anya{
    width: 900px;
    border-radius: 50px;
}
#content{
    text-align:center;
}
#my-name {
    font-family: 'Bree Serif', serif;
    color:#3A3845

}